runpod
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0
git+https://github.com/huggingface/transformers.git
scipy
numpy<2        # see next section
moviepy
imageio-ffmpeg
accelerate
sentencepiece
ffmpeg-python
tqdm
